name: build

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  windows-builds:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B build -S .  -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Install
      run: cmake --build build --target install

  ubuntu-builds:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Dependencies
        run: |
          sudo apt-get install libfftw3-bin libfftw3-dev
          sudo apt-get install openmpi-bin libopenmpi-dev
          sudo apt-get install python3-numpy python3-scipy
          sudo apt-get install qhull-bin libqhull-dev
          sudo apt-get install minizip zlib1g-dev

      - name: Configure
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

      - name: Build
        run: make -j 4

      - name: Install
        run: sudo make install

  macos-builds:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Dependencies
        run: |
          brew install fftw
          brew install open-babel
          brew install open-mpi
          brew install numpy scipy
          brew install qhull
          brew install zlib
          brew install antlr4-cpp-runtime

      - name: Configure
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

      - name: Build
        run: make -j 4

      - name: Install
        run: sudo make install
